

@model TodoIndexVM

    <div class="row">
        <partial name="_Notification" />
        <div class="col-md-2">

        <form asp-controller="Todo" asp-action="Filters" method="post">
            <div class="mb-3">
                <label class="form-label">Category</label>
                <select name="filter" class="form-select" asp-items="@Model.Categories">
                    <option value="all">All</option>
                    
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Due</label>
                <select name="filter" class="form-select" asp-items="@Model.DueFilterValues">
                    <option value="all">All</option>
                    
                </select>
            </div>
            <div class="mb-3">
                <label class="form-label">Status</label>
                <select name="filter" class="form-select" asp-items="@Model.Statues">
                    <option value="all">All</option>
                    
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Filter</button>
            <a asp-action="Index" asp-route-id="" class="btn btn-primary">Clear</a>
        </form>

        </div>
        <div class="col-md-10">
        <partial name="_tablePartial" ></partial>
        
         <form id="deleteForm" asp-action="DeleteComplete" method="post" asp-route-id="@ViewBag.Filters.Filterstring">
            <a  asp-action="Upsert" class="btn btn-primary">Add new task</a>
            <button type="submit"  class="btn btn-danger">Delete completed tasks</button>
        </form> 
        
        </div>
    </div>
    